<div class="login-form">
  <mat-card>
    <mat-card-content>
      <h1>LOGIN</h1>
      <form #loginForm = "ngForm">
        <section [formGroup]="toppings">
          <mat-form-field class="full-width-input separator">
            <input
              matInput
              placeholder="Username"
              type="text"
              required
              formControlName="username"
            >
          </mat-form-field>
          <mat-form-field class="full-width-input separator">
            <input
              matInput
              placeholder="Password"
              type="password"
              required
              formControlName="password"
            >
          </mat-form-field>
        </section>
        <button mat-raised-button color="primary" (click)="identifyUser()"
        >Login
        </button>
      </form>
    </mat-card-content>
  </mat-card>
</div>

